<html>

<head>
    <title>Nicusch File List
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #333;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            color: #fff;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        tr:nth-child(odd) {
            background-color: #363636;
        }

        tr:nth-child(even) {
            background-color: #464646;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            Welcome to the main site
        </h1>
        <h2>If you cant find what you are looking for here. Please ask the Owner for the correct link to your downloads,
            but since you are here. We got a list of Public folders for you.</h2>
        </h1>
        <table>
            <thead>
                <tr>
                    <th>Folder</th>
                </tr>
            </thead>
            <tbody>
                <% public.forEach(folder=> { %>
                    <tr>
                        <td><a href="/<%= folder %>">
                                <%= folder %>
                            </a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>